<html>
  <head>
    <meta charset=“utf-8”>
    <title>Reverse YouTube Video Search</title>
  </head>
  <body>
    <h1>Reverse YouTube Video Search</h1>
    <form action="/search" method="POST" name="search">
      <input type="text" name="query_url" placeholder="YouTube Video Url" />
      <!--<input type="checkbox" id="slow" name="slow" /> <label for="slow">Use videos (slower)</label>-->
      <input type="submit" value="Search duplicates" />
    </form>
    {% if results %}
      <table>
        <tr><th>Video</th><th>Similarity</th></tr>
        {% for res in results %}
          <tr>
            <td>
              <a href="https://www.youtube.com/watch?v={{ res[0] }}">
                <img src="{{ url_for('static', filename='data/thumbnails/') }}{{ query_title }}/{{ res[0] }}2.jpg" />
              </a>
            </td>
            <td>{{ res[1] }}</td>
          </tr>
        {% endfor %}
      </table>
     {% else %}
        {% if query_title %}
          <p>No near-duplicates were found.</p>
        {% endif %}
    {% endif %}
  </body>
</html>
